<!DOCTYPE html>

<html>
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        constants = {
            page: '@Url.RouteUrl("DefaultApi", new {controller = "Blog", action = "page" })',
            tags: '@Url.RouteUrl("DefaultApi", new {controller = "Blog", action = "tags" })',
            post: '@Url.RouteUrl("DefaultApi", new {controller = "Blog", action = "post" })',
            comment: '@Url.RouteUrl("DefaultApi", new {controller = "Blog", action = "comment" })',
            token: '@Url.RouteUrl("DefaultApi", new {controller = "Identity", action = "token" })',
            tokenKey: 'tokenKey'
        }
    </script>
    <link href="~/css/styles.css" rel="stylesheet" media="all">
    <title>Персональный портал</title>
</head>
<body>
<div id="content">
</div>
    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js?v05070218")"></script>
</body>
</html>