<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="@Url.Content("~/assets/common.js")"></script>
    <link href="~/css/styles.css" rel="stylesheet" media="all">
    <title>Sergey Tseplukhin - @ViewBag.Title</title>
</head>
<body>
    <header>
        <div id="photoTitle"></div>
        <div id="title">Sergey Tseplukhin</div>
        <menu>
            <ul>
                <li>
                    @Html.ActionLink("Блог", "Index", "Home", null, null)
                </li>
                <li>
                    <a href="https://github.com/unpub777">Github</a>
                </li>
                <li>
                    @Html.ActionLink("Обо мне", "About", "Home", null, null)
                </li>
            </ul>
        </menu>
    </header>
    <main>
        <script type="text/javascript">
        constants = {
            posts: '@Url.RouteUrl("DefaultApi", new { controller = "Blog", action = "posts" })'
        }
        </script>
        @RenderBody()
    </main>
    @RenderSection("scripts", required: false)
</body>
</html>
